<html>
<body>
<div style="margin:0px 0px 10px 0px; padding:4px; border: 1px solid black; vertical-align: center;">
<a href="/add">Add an entry</a>
<a href="/edit">Edit an entry</a>
<a href="/entry">Check an entry</a>
<a href="/entries">List all entries</a>
</div>

{% if msg %}
  {{ msg }}
{% else %}
   <!-- no message, add nothing -->
{% endif %}

<br>
Add something

<form action="http://localhost:5000/add" method="POST">
  <label for="tb_id">id:</label>
  <input type="text" id="entry_id" name="entry_id">
  <br /><br />
  <label for="tb_title">title:</label>
  <input type="text" id="entry_title" name="entry_title">
  <br /><br />
  <input type="submit" value"add">
</form>

</body>
</html>
