<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <style>
    body {
      margin: 0px;
    }

    a,
    a:visited,
    a:hover {
      text-decoration: none;
    }

    #cont {
      margin: 2em;
    }

    #telemetry {
      position: fixed;
      bottom: 0;
      width: 100%;
      font-family: monospace;
      color: #666;
      padding: .5em;
    }
  </style>
</head>

<body>
  <table width="800" border="0" cellpadding="2" cellspacing="0" bgcolor="#f5f5f5">
    <tr>
      <td width="60%">
        <a href="/add">Add entry &nbsp;</a>
        <a href="/edit">Edit entry &nbsp;</a>
        <a href="/entry">Check entry &nbsp;</a>
        <a href="/entries">List entries &nbsp;</a>
        <a href="/login">Login</a>
      </td>
      <td width="40%" align="right">
        {% if user %}
        Logged in as {{ user }}
        {% else %}
        Not logged in
        {% endif %}
      </td>
    </tr>
  </table>

  <div id="cont">

    {% if msg %}
    {{ msg }}
    {% endif %}

    <br>
    Add something
    <br>
    <br>

    <form action="/add" method="POST">
      <label for="tb_id">id:</label>
      <input type="text" id="entry_id" name="entry_id">
      <br /><br />
      <label for="tb_title">title:</label>
      <input type="text" id="entry_title" name="entry_title">
      <br /><br />
      <input type="submit" value"add">
    </form>
  </div>

  <div id="telemetry">
    Local IP: {{ telemetry[0] }}; Hostname: {{ telemetry[1] }}
  </div>
</body>

</html>